<h1>Todo List</h1>
{{todo-actions handleTodoSubmit=(action "handleTodoSubmit") deleteAllTodos=(action "deleteAllTodos")}}
{{#if model.length}}
  {{todo-list todos=model updateTodoTitle=(action "updateTodoTitle") handleTodoToggleComplete=(action "handleTodoToggleComplete") handleTodoDelete=(action "handleTodoDelete")}}
{{else}}
  <h3>No todos!</h3>
{{/if}}